.spicetify-playlist-labels-label {
    font-size: 12px !important;
    padding: 0 !important;
    white-space: nowrap;
    color: var(--spice-text) !important;
    height: 18px;
}

.spicetify-playlist-labels-container {
    height: var(--row-height);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: calc((var(--row-height) - 36px) / 3.0);
    padding-top: calc((var(--row-height) - 36px) / 3.0);
    padding-bottom: calc((var(--row-height) - 36px) / 3.0);
}

.spicetify-playlist-labels-remove-button {
    display: inline-flex;
    background: transparent;
    height: 18px;
    width: 18px;
    padding: 4px;
    border-radius: calc(infinity * 1px);
    border: 0;
}

.spicetify-playlist-labels-remove-button:hover {
    background: rgb(0, 0, 0, 0.2);
}

.ChipComponent-checkbox-chip-size {
    margin-bottom: 0 !important;
}

.ChipInnerComponent-iconTrailing-size-isUsingKeyboard {
    grid-gap: 0px !important;
}
