:root {
    --spicetify-playlist-labels-size: 28px;
    --spicetify-playlist-labels-gap: 6px;
    --spicetify-playlist-labels-container-width: calc(var(--spicetify-playlist-labels-size) * var(--spicetify-playlist-labels-label-count, 3) + var(--spicetify-playlist-labels-gap) * calc(var(--spicetify-playlist-labels-label-count, 3) - 1));
}

.spicetify-playlist-labels-labels-container {
    width: var(--spicetify-playlist-labels-container-width);
    height: var(--row-height);
    align-items: center;
    display: flex;
    overflow: hidden;
    gap: var(--spicetify-playlist-labels-gap);
    justify-content: flex-end;
}

.spicetify-playlist-labels-label-container {
    position: relative;
    height: calc(var(--row-height) * 0.5);
}

.spicetify-playlist-labels-label-container > img {
    width: calc(var(--row-height) * 0.5);
    height: 100%;
    object-fit: cover;
    border-radius: calc(var(--row-height) * 0.5 * 0.1);
}

.main-trackList-trackList.main-trackList-indexable[aria-colcount="4"] .main-trackList-trackListRowGrid {
  grid-template-columns:
    [index] var(--tracklist-index-column-width, 16px)
    [first] minmax(120px, var(--col1, 4fr))
    [var1] minmax(120px, var(--col2, 2fr))
    [last] calc(120px + var(--spicetify-playlist-labels-container-width) + 12px) !important;
}

.main-trackList-trackList.main-trackList-indexable[aria-colcount="5"] .main-trackList-trackListRowGrid {
  grid-template-columns:
    [index] var(--tracklist-index-column-width, 16px)
    [first] minmax(120px, var(--col1, 6fr))
    [var1] minmax(120px, var(--col2, 4fr))
    [var2] minmax(120px, var(--col3, 3fr))
    [last] calc(120px + var(--spicetify-playlist-labels-container-width) + 12px) !important;
}

.main-trackList-trackList.main-trackList-indexable[aria-colcount="6"] .main-trackList-trackListRowGrid {
  grid-template-columns:
    [index] var(--tracklist-index-column-width, 16px)
    [first] minmax(120px, var(--col1, 6fr))
    [var1] minmax(120px, var(--col2, 4fr))
    [var2] minmax(120px, var(--col3, 3fr))
    [var3] minmax(120px, var(--col4, 2fr))
    [last] calc(120px + var(--spicetify-playlist-labels-container-width) + 12px) !important;
}