.spicetify-playlist-labels-label {
    font-size: 12px !important;
    padding: 3px 6px 3px 6px !important;
    white-space: nowrap;
}

.spicetify-playlist-labels-container {
    height: var(--row-height);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: calc((var(--row-height) - 36px) / 3.0);
    padding-top: calc((var(--row-height) - 36px) / 3.0);
    padding-bottom: calc((var(--row-height) - 36px) / 3.0);
}

.custom-svg {
    &:hover {
        fill: var(--text-negative);
    }
    transition: fill 0.1s;
}

.custom-svg:hover {
    fill: var(--text-negative) !important;
}

.ChipComponent-checkbox-chip-size {
    margin-bottom: 0 !important;
}

.ChipInnerComponent-iconTrailing-size-isUsingKeyboard {
    grid-gap: 6px !important;
}
